*{
    box-sizing: border-box;
}

body{
    background: rgb(58, 48, 28);
    height: 100px;
}

.container{
    max-width: 500px;
    background-color: gray;
    color: white;
    margin:100px auto;
    padding: 20px;
}

h1{
    text-align: center;
}

label{
    font-size: 20px;
    margin-right: 20px;
}

input{
    font-size: 14px;
    width: 100%;
    outline: none;
    /* border-radius: 20px;
    border: 0; */
    padding: 10px;
    color: white;
}

#btn{
    font-size: 20px;
    background-color: rgb(58, 48, 28);
    color: white;
    cursor: pointer;
    font-weight: 1000;
    border: 0;
}

#btn:hover{
    background: rgb(0, 0, 148);
    color: white;
}

input:focus{
    outline: orange;
    border: 2px solid orange;
}

input:hover{
    background: rgb(61, 61, 61);
}

input::placeholder{
    color: white;
}

p{
    color:white;
    background: red;
    font-size: 14px;
    width: 100%;
    padding: 5px;
}